!!!
html
  head
    title= 'Nodepad'
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/Aristo/jquery-ui-1.8.7.custom.css')
    script(type='text/javascript', src='/javascripts/json.js')
    //script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.6.4/jquery.js')
    //script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jquery/1.4.4/jquery.min.js')
    script(type='text/javascript', src='https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.7/jquery-ui.min.js')
    script(type='text/javascript', src='/javascripts/ace-0.2.0/src/ace.js')
    //script(type='text/javascript', src='/javascripts/ace-0.2.0/src/theme-twilight.js')
    //script(type='text/javascript', src='/javascripts/ace-0.2.0/src/mode-javascript.js')
  body
    div(id='container')
      div(id='header')
        ul
          li
            h1
              a(href='/') Nodepad
          - if (typeof currentUser !== 'undefined')
            li(class='right')
              a(href='/sessions', class='destroy') Log Out
      != body
    

    script(type='text/javascript', src='/javascripts/application.js')
